USE [master]
GO
/****** Object:  Database [web_visits]    Script Date: 12/4/2024 11:13:30 AM ******/
CREATE DATABASE [web_visits]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'web_visits', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\web_visits.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'web_visits_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\web_visits_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [web_visits].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [web_visits]
GO
/****** Object:  Table [dbo].[countVisit]    Script Date: 12/4/2024 11:13:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countVisit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](50) NOT NULL,
	[user_agent] [text] NOT NULL,
	[visited_at] [smalldatetime] NOT NULL,
	[date] [date] NOT NULL,
	[location] [varchar](max) NULL,
 CONSTRAINT [PK_countVisit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[countVisit] ON 

INSERT [dbo].[countVisit] ([id], [ip_address], [user_agent], [visited_at], [date], [location]) VALUES (2, N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2024-12-04 11:06:00' AS SmallDateTime), CAST(N'2024-12-04' AS Date), N'Unknown')
SET IDENTITY_INSERT [dbo].[countVisit] OFF
USE [master]
GO
